body {
    background-image: url('../buttons/backgroud.png');
    background-size: cover; /* Ajusta la imagen para cubrir toda el área del body */
    /* Otros estilos si los necesitas */
}

body .groupBox {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.groupBox legend {
    font-weight: normal;
    text-align: left;
    font-size: 12px;
    padding: 0 5px;
    background-color: #fff;
}

.item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-derecha {
    float: right;
}

.imagen-redondeada {
    border-radius: 50%;
}

img:hover {
    cursor: pointer;
}

html, body {
    height: 50%;
}

.upload {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding-top: 10%;
}

.inputfile + label {
    font-size: 10px;
    color: white;
    background-color: #2196f3;
    text-align: center;
    display: inline-grid; /**/
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.inputfile {
    width: 0px;
    height: 0px;
}

    .inputfile:hover {
        background-color: #2196f3;
    }

.imagen {
    margin-top: 10%;
    border: 1px solid;
    border-style: dashed;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 35px;
}

    .imagen:hover {
        transform: scale(1.1);
        transition: 1s ease-in-out;
    }

.boton {
    width: 50px;
    transition: ease 1s;
    float: right;
}

    .boton:hover {
        transform: scale(1.1);
        transition: 1s ease-in-out;
    }
.ImageButton {
    margin: 0 5px;
    display: inline-grid;
}

.ImageButton:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.TextBox {
    padding: 5px;
    border-radius: 5px;
    outline: none;
}
.TextBox:invalid {
    border: 2px solid tomato;
    animation: 0.2s valid 3;
}

@keyframes valid {
    to { transform: translateX(0); }
    from { transform: translateX(10px); }
}

.success {
    background-color: #6DF10E;
}

.info{
    background-color: #3275b4;
}

.alert {
    background-color: #F1E30E;
}

.warning{
    background-color: #d3a72e;
}

.button:hover {
    opacity :0.7;
    cursor:pointer;
}

.guardar {
    font-size: 10px;
    color: white;
    background-color: #059638;
    text-align: center;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border: none;
    float: right;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

    .guardar:hover {
        background-color: #045C24;
        cursor: pointer;
    }

.cancelar {
    font-size: 10px;
    color: white;
    background-color: #8e8e8b;
    text-align: center;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 0 10px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
}

    .cancelar:hover {
        background-color: #5f5f5c;
        cursor: pointer;
    }